.input1,
.label1 {
  position: relative;
  line-height: 24px;
}
.label1 {
  align-self: stretch;
}
.input1 {
  width: 288px;
  display: none;
}
.field1,
.form,
.inputtext1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.field1 {
  height: 139px;
  border-radius: 8px;
  background-color: #fafafb;
  border: 1px solid #c3c6d2;
  box-sizing: border-box;
  flex-direction: row;
  padding: 16px;
  color: #666f89;
}
.form,
.inputtext1 {
  flex-direction: column;
  gap: 8px;
}
.form {
  gap: 24px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #444a5b;
  font-family: Inter;
}
